version: 2.1

workflows:
  build_and_publish:
    jobs:
      - checkout_and_test:
          context: pierissimo
      - publish:
          context: pierissimo
          requires:
            - checkout_and_test
          filters:
            branches:
              only:
                - master

jobs:
  checkout_and_test:
    docker:
      - image: circleci/node:16-stretch
      - image: circleci/mongo:5
    steps:
      - checkout
      - restore_cache:
          keys:
            - v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
            - v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}
            - v2-npm-deps-{{ .Branch }}
            - v2-npm-deps-
      - run:
          name: install NPM dependencies
          command: npm i
      - save_cache:
          key: v2-npm-deps-{{ .Branch }}-{{ checksum "package.json" }}-{{ checksum "package-lock.json" }}
          paths:
            - node_modules
      - run:
          name: test
          command: npm run cover
      - run:
          name: build
          command: npm run build
      - run:
          name: upload coverage report
          command: bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
      # disabled as builds blocked by security vulnerability in developer dependency: semantic-release
      #   - run:
      #     name: audit
      #     command: npm audit
      - save_cache:
          key: v2-build-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - "~/project/"

  publish:
    docker:
      - image: circleci/node:16-stretch
    steps:
      - restore_cache:
          keys:
            - v2-build-{{ .Environment.CIRCLE_SHA1 }}
      - run:
          name: allow same version
          command: npm config set allow-same-version true
      - run:
          name: do a release
          command: npx semantic-release
